# Ignore raw sequencing data
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.fasta
*.fasta.gz
*.fa
*.fa.gz
*.sra
*.sam
*.bam
*.bai
*.ht2
*.fna
*.gff
*.vcf
*.vcf.gz
# Ignore .ipynb_checkpoints/
.ipynb_checkpoints/
.fastqc_results/
.trimmed_data/
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.ipynb_checkpoints*
